body {
  background: #ececec;
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 20px;
}
img {
  max-width: 550px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}
a {
  margin: 0 auto;
  padding: 15px;
}
.contact {
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  color: blueviolet;
}
.link {
  text-align: center;
}
